.banner-left {
    background: linear-gradient(180deg, #04312F 0%, #438F8D 100%);
}

.banner_partner_p {
    color: #55D2CD;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.banner_partner_p2 {
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.partner_btn {
    display: inline-flex;
    padding: 8px 20.66px 8px 20.34px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #222;
    background: #FFF;
}

.banner2 {
    border-radius: 100px 0px;
    background: #E9F5F4;
}